body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
}

.navbar {
  height: auto;
  padding-bottom: 5px 10px 10px 10px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to bottom right,
    rgb(128, 183, 225) 40%,
    rgb(7, 160, 202) 60%
  );
  text-decoration: none;
}
.joinBtn {
  padding: 10px 29px;
  border-radius: 5px;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}
.sloganFont-1 {
  font-size-adjust: 0.5;
  font-size: 3rem;
  color: whitesmoke;
  font-weight: 900;
}
.sloganFont-2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: 500;
}
.sloganInner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

.details {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(128, 183, 225) 10%,
    rgb(3, 159, 203) 60%
  );
}

.bookImg {
  width: 350px;
  height: 200px;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0, 0.35) 0 5px 15px;
}

.rowFont-1 {
  font-size: 50px;
  font-weight: 600;
  color: rgb(48, 84, 113);
}

.detailsChild {
  display: flex;
  flex-direction: column;
}
.about {
  min-width: 600px;
  max-width: 90%;
  height: 200px;
  text-align: center;
  background-color: rgb(7, 160, 202);
  margin: 5px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgb(0.35, 0, 0, 0.35) 0 8px 15px;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  font-weight: 400;
}
.about-font {
  font-size: 1.5rem;
}

.row {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(3, 159, 203) 20%,
    rgb(128, 183, 225) 80%
  );
  padding: 2%;
}
.slogan {
  background: linear-gradient(to bottom, rgb(128, 183, 225), rgb(7, 160, 202));
  width: 100%;
  height: auto;
  background-size: cover;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  padding: 20px;
}
.navbar-brand {
  font-weight: 800;
  font-size: 1.5rem;
  color: rgb(14, 92, 95);
}

.active-link {
  color: red;
}
.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5fa1b7;
}
.form-group {
  text-align: left;
  color: rgb(231, 70, 70);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.font {
  color: rgb(231, 70, 70);
  font-weight: 600;
  font-size: 2rem;
  padding: 20px;
}
.btn {
  color: rgb(231, 70, 70);
  margin: 10px 0;
  padding: 10px 25px;
}
.Logo {
  width: 100px;
  height: 100px;
  transform: rotate(-20deg);
}
.warning {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
  padding: 10px 0;
  border-radius: 10px;
  color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.formInput {
  width: 700px;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background: linear-gradient(to bottom, rgb(172, 211, 240), rgb(85, 198, 230));
  padding: 20px;
}

.form-control {
  margin: 15px;
  width: 290px;
}
.checkBox {
  margin-top: 10px;
}
.form-check-label {
  color: wblackhite;
  padding-left: 5px;
}

.formElements {
  text-align: center;
}

.Link {
  text-decoration: none;
  color: rgb(231, 70, 70);
  padding: 10px;
  border-radius: 5px;
  margin: 15px;
}

.Link:hover {
  background-color: grey;
}

@media (max-width: 730px) {
  .slogan {
    height: auto;
  }
  .sloganInner {
    margin-top: 30px;
  }
}
@media (max-width: 800px) {
  .slogan {
    grid-template-columns: auto;
    grid-auto-rows: auto auto;
    grid-gap: 20px;
  }
}
@media (min-width: 800px) {
  .slogan {
    padding-bottom: 40px;
  }
}

::-webkit-scrollbar {
  width: 15px;
  background-color: rgb(7, 160, 202);
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 15px;
}
